# gitconfig
[user]
    name = <%= `cat ~/tmp/info/name`.chomp %>
    email = <%= `cat ~/tmp/info/email`.chomp %>

[advice]
    # Don't show status actions advice
    statusHints = false

[diff]
    # Detect file renames and copies
    renames = copies
    # Show names of things being compared in diff prefix: (i)ndex, (c)ommit, etc.
    mnemonicprefix = true
    # Use a slower but better diff algorithm
    algorithm = patience

[fetch]
    # Remove deleted branches on fetch
    prune = true

[pull]
    # Always use pull --rebase
    rebase = true

[push]
    # Push to upstream or to the branch with the same name
    default = simple

[apply]
    # Fix whitespace when applying patches
    whitespace = fix

[core]
    # Fix unicode filenames between OS X and Linux
    precomposeunicode = true
    # Use global excludes file
    excludesfile = ~/.gitignore
    # Don't wrap long lines in less
    pager = less -S

[color]
    # Color command output when appropriate
    ui = auto

[mergetool]
    # Don't store .orig files
    keepBackup = false

[alias]
    st = status
    ci = commit
    chout = checkout

    d = diff
    ds = diff --cached

    pa = "!git push origin HEAD:$@ #"

    vdiff = difftool -t vimdiff
    vmerge = mergetool -t vimdiff
    kdiff = difftool -y -t Kaleidoscope
    kshow = "!sh -c 'git kdiff ${1:-HEAD}^..${1:-HEAD};' -"
    kmerge = mergetool -y -t Kaleidoscope

    sm = submodule
    smu = submodule update --init --rebase

    # aliasing "la = !git l" results in "died of signal 13" warning
    <% log_args = "--graph --pretty=format:'%Cred%h%Creset - %Cblue%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative" %>
    l = log <%= log_args %>
    la = log <%= log_args %> --all
    lf = !git l --follow -p

[difftool "FileMerge"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"

[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
