[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/conqueterm"]
	path = vim/bundle/conqueterm
	url = git://github.com/vim-scripts/Conque-Shell.git
[submodule "vim/bundle/command_t"]
	path = vim/bundle/command_t
	url = git://github.com/wincent/Command-T.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/tasklist"]
	path = vim/bundle/tasklist
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/pylint"]
	path = vim/bundle/pylint
	url = git://github.com/vim-scripts/pylint.vim.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/indentpython"]
	path = vim/bundle/indentpython
	url = git://github.com/vim-scripts/indentpython.vim.git
[submodule "vim/bundle/python-match"]
	path = vim/bundle/python-match
	url = git://github.com/vim-scripts/python_match.vim.git
[submodule "vim/bundle/ragtag"]
	path = vim/bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "vim/bundle/django-template"]
	path = vim/bundle/django-template
	url = git://github.com/vim-scripts/django.vim.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/liquid-syntax"]
	path = vim/bundle/liquid-syntax
	url = git://github.com/tpope/vim-liquid.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/zencoding"]
	path = vim/bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/indexedsearch"]
	path = vim/bundle/indexedsearch
	url = git://github.com/travisjeffery/IndexedSearch.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/json"]
	path = vim/bundle/json
	url = git://github.com/leshill/vim-json.git
[submodule "vim/bundle/scratch"]
	path = vim/bundle/scratch
	url = git://github.com/vim-scripts/scratch.vim.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vimerl"]
	path = vim/bundle/vimerl
	url = git://github.com/oscarh/vimerl.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/mustache"]
	path = vim/bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "vim/bundle/slime"]
	path = vim/bundle/slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule "vim/bundle/indent-object"]
	path = vim/bundle/indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/bundle/zoomwin"]
	path = vim/bundle/zoomwin
	url = git://github.com/vim-scripts/ZoomWin.git
[submodule "vim/bundle/extradite"]
	path = vim/bundle/extradite
	url = git://github.com/int3/vim-extradite.git
[submodule "vim/bundle/vim-voom"]
	path = vim/bundle/vim-voom
	url = git://github.com/vim-scripts/VOoM.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git://github.com/allait/ultisnips.git
[submodule "vim/bundle/rope-vim"]
	path = vim/bundle/rope-vim
	url = git://github.com/sontek/rope-vim.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/clang_complete"]
	path = vim/bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "vim/bundle/vim-virtualenv"]
	path = vim/bundle/vim-virtualenv
	url = git://github.com/jmcantrell/vim-virtualenv.git
[submodule "vim/bundle/pairtools"]
	path = vim/bundle/pairtools
	url = git://github.com/allait/vim-PairTools.git
[submodule "vim/bundle/Rename"]
	path = vim/bundle/Rename
	url = git://github.com/vim-scripts/Rename.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = git://github.com/allait/vimwiki.git
[submodule "vim/bundle/applescript"]
	path = vim/bundle/applescript
	url = git://github.com/vim-scripts/applescript.vim.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/rainbow"]
	path = vim/bundle/rainbow
	url = git://github.com/HelgeG/rainbow.git
[submodule "vim/bundle/vimclojure"]
	path = vim/bundle/vimclojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "emacs.d/packages/evil"]
	path = emacs.d/packages/evil
	url = git://gitorious.org/evil/evil.git
[submodule "vim/bundle/showmarks"]
	path = vim/bundle/showmarks
	url = git://github.com/harleypig/ShowMarks.git
