[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/fugitive"]
	path = vim/vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/supertab"]
	path = vim/vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/vim/bundle/conqueterm"]
	path = vim/vim/bundle/conqueterm
	url = git://github.com/rson/vim-conque.git
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/vim/bundle/surround"]
	path = vim/vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/tasklist"]
	path = vim/vim/bundle/tasklist
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "vim/vim/bundle/abolish"]
	path = vim/vim/bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim/vim/bundle/pylint"]
	path = vim/vim/bundle/pylint
	url = git://github.com/rygwdn/vim-pylint.git
[submodule "vim/vim/bundle/matchit"]
	path = vim/vim/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "vim/vim/bundle/ack"]
	path = vim/vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/vim/bundle/indentpython"]
	path = vim/vim/bundle/indentpython
	url = git://github.com/vim-scripts/indentpython.vim.git
[submodule "vim/vim/bundle/python-match"]
	path = vim/vim/bundle/python-match
	url = git://github.com/vim-scripts/python_match.vim.git
[submodule "vim/vim/bundle/ragtag"]
	path = vim/vim/bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "vim/vim/bundle/django-template"]
	path = vim/vim/bundle/django-template
	url = git://github.com/vim-scripts/django.vim.git
[submodule "vim/vim/bundle/markdown"]
	path = vim/vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/vim/bundle/liquid-syntax"]
	path = vim/vim/bundle/liquid-syntax
	url = git://github.com/tpope/vim-liquid.git
[submodule "vim/vim/bundle/vim-ruby"]
	path = vim/vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/vim/bundle/zencoding"]
	path = vim/vim/bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "vim/vim/bundle/repeat"]
	path = vim/vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/vim/bundle/json"]
	path = vim/vim/bundle/json
	url = git://github.com/leshill/vim-json.git
[submodule "vim/vim/bundle/scratch"]
	path = vim/vim/bundle/scratch
	url = git://github.com/vim-scripts/scratch.vim.git
[submodule "vim/vim/bundle/vim-javascript"]
	path = vim/vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/vim/bundle/vimerl"]
	path = vim/vim/bundle/vimerl
	url = git://github.com/oscarh/vimerl.git
[submodule "vim/vim/bundle/tabular"]
	path = vim/vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/vim/bundle/unimpaired"]
	path = vim/vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/vim/bundle/mustache"]
	path = vim/vim/bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "vim/vim/bundle/slime"]
	path = vim/vim/bundle/slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule "vim/vim/bundle/indent-object"]
	path = vim/vim/bundle/indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/vim/bundle/zoomwin"]
	path = vim/vim/bundle/zoomwin
	url = git://github.com/vim-scripts/ZoomWin.git
[submodule "vim/vim/bundle/extradite"]
	path = vim/vim/bundle/extradite
	url = git://github.com/int3/vim-extradite.git
[submodule "vim/vim/bundle/vim-voom"]
	path = vim/vim/bundle/vim-voom
	url = git://github.com/vim-scripts/VOoM.git
[submodule "vim/vim/bundle/ultisnips"]
	path = vim/vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "vim/vim/bundle/rope-vim"]
	path = vim/vim/bundle/rope-vim
	url = git://github.com/klen/rope-vim.git
[submodule "vim/vim/bundle/vim-coffee-script"]
	path = vim/vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim/bundle/vim-virtualenv"]
	path = vim/vim/bundle/vim-virtualenv
	url = git://github.com/jmcantrell/vim-virtualenv.git
[submodule "vim/vim/bundle/Rename"]
	path = vim/vim/bundle/Rename
	url = git://github.com/vim-scripts/Rename.git
[submodule "vim/vim/bundle/tagbar"]
	path = vim/vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/vim/bundle/vimwiki"]
	path = vim/vim/bundle/vimwiki
	url = git://github.com/allait/vimwiki.git
[submodule "vim/vim/bundle/applescript"]
	path = vim/vim/bundle/applescript
	url = git://github.com/vim-scripts/applescript.vim.git
[submodule "vim/vim/bundle/vim-commentary"]
	path = vim/vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/vim/bundle/gundo"]
	path = vim/vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim/vim/bundle/vimclojure"]
	path = vim/vim/bundle/vimclojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "emacs/emacs.d/packages/evil"]
	path = emacs/emacs.d/packages/evil
	url = git://gitorious.org/evil/evil.git
[submodule "vim/vim/bundle/showmarks"]
	path = vim/vim/bundle/showmarks
	url = git://github.com/harleypig/ShowMarks.git
[submodule "vim/vim/bundle/vim-git"]
	path = vim/vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "vim/vim/bundle/ctrlp"]
	path = vim/vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/smartinput"]
	path = vim/vim/bundle/smartinput
	url = git://github.com/kana/vim-smartinput.git
[submodule "vim/vim/bundle/rainbow_parentheses"]
	path = vim/vim/bundle/rainbow_parentheses
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/vim/bundle/yankring"]
	path = vim/vim/bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
