[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/minibufexplpp"]
	path = .vim/bundle/minibufexplpp
	url = git://github.com/vim-scripts/minibufexplorerpp.git
[submodule ".vim/bundle/conqueterm"]
	path = .vim/bundle/conqueterm
	url = git://github.com/vim-scripts/Conque-Shell.git
[submodule ".vim/bundle/command_t"]
	path = .vim/bundle/command_t
	url = git://github.com/wincent/Command-T.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/tasklist"]
	path = .vim/bundle/tasklist
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule ".vim/bundle/indexedsearch"]
	path = .vim/bundle/indexedsearch
	url = git://github.com/bronson/vim-indexedsearch.git
[submodule ".vim/bundle/abolish"]
	path = .vim/bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/pythoncomplete"]
	path = .vim/bundle/pythoncomplete
	url = git://github.com/vim-scripts/pythoncomplete.git
[submodule ".vim/bundle/python-menu"]
	path = .vim/bundle/python-menu
	url = git://github.com/vim-scripts/python.vim.git
[submodule ".vim/bundle/align"]
	path = .vim/bundle/align
	url = git://github.com/vim-scripts/Align.git
[submodule ".vim/bundle/pylint"]
	path = .vim/bundle/pylint
	url = git://github.com/vim-scripts/pylint.vim.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/vcscommand"]
	path = .vim/bundle/vcscommand
	url = git://github.com/vim-scripts/vcscommand.vim.git
[submodule ".vim/bundle/closetag"]
	path = .vim/bundle/closetag
	url = git://github.com/vim-scripts/closetag.vim.git
