# Shell tools
ipython
Fabric
mercurial

# Test tools
pytest
pyflakes
pylint
coverage

# Package installation
distribute
virtualenv
virtualenvwrapper

# Documentation
docutils
Sphinx

# Vim tools
Pygments

# Common packages
PIL
simplejson

# Django tools
django-debug-toolbar
django-devserver
django-extensions
