# Launch ipython debugger
snippet ipython
	import IPython
	IPython.Shell.IPShell(user_ns=locals(), user_global_ns=globals()).mainloop(sys_exit=1)
# Simple nose test function
snippet test
	def test_${1:function}():
	    ${2:assert}
